
/* Regole universali */

body{
  font-family: 'Open Sans', sans-serif;
}

/* Mix */

.small_container{
  max-width: 800px;
  margin: auto;
}

/* Typo */

h1{
  margin: 0;
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #000;
}

h2{
  font-weight: bold;
}

h4{
  font-weight: bold;
}

/* Bottoni */

.btn{
  border-radius: 0px;
  color: #fff;
  background-color: #000;
  font-weight: 600;
  font-size: 12px;
}

.burger_btn{
  background-color: transparent;
  line-height: normal;
  border: none;
  font-size: 14px;
}
/* Colori di Bg */

.bg_white{
  background-color: #fff;
}

/* Header Top */

.header_top{
  line-height: 70px;
  height: 70px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  vertical-align: middle;
}

.logo_img{
    height: 12px;
}

.main_nav, .secondary_nav{
  display:inline-block;
}

header nav a{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  padding-right: 18px;
}

header nav a:hover,
header nav a:visited{
  text-decoration: none;
  color: #000;
}

.secondary_nav{
  padding-left: 18px;
}

.lang_btn{
  line-height: normal;
  background-color: transparent;
  border: none;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  font-size: 10px;
  font-weight: 600
}

/* Header Hero */

.hero{
  margin-top: 70px;
  padding:30px 0;
}

.hero__img{
  width: 100%;

}

/* Main - sezione complessa */

.banner_box{
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: absolute;
}

.boxes_container{
  padding-top: 175px;
}

.box  {
  display:inline-block;
  width: calc(100% / 3);
  vertical-align: bottom;
}

.box_iphone{
  position: relative;
  left: calc(100% / 3);
  text-align:center;
}

.box_iphone::after{
  background-image: url(../img/iphone-bg.png);
  background-repeat: no-repeat;
  background-position:  left
}

.box_iphone > img{
 max-height: 520px;
 max-width: 300px
}

.box_1{
  position: relative;
  right: calc(100% / 3);
  padding-bottom: 50px;
}

.box_2{
  padding-bottom: 62px;
  padding-left: 40px
}




/* MEDIA QUERY PER STYLE */

/* Da 992 px in giù */
@media screen and (max-width:992px){

  h1{
    font-size: 75px;
  }

}


/* Da 768 px in giù */

@media screen and (max-width:768px){

  h1{
    font-size: 60px;
  }

  .box {
    display: block;
    right: 0;
    left:0;
    width: 100%;
    padding: 8px 12px;
  }

}

/* Da 480 px in giù */

@media screen and (max-width:480px){

  h1{
    font-size: 35px;
  }
}
